<div class="container">
  <h1 class="display-1 mt-5 mb-4">Courses</h1>
  <div class="row g-3 align-items-center">
    <% for (let course of courses){ %>
      <div class="col-lg-3 col-sm-12">
        <%- include("course-component", {course}) %>
      </div>
      <% } %>
  </div>
</div>