<a class="text-white" href="<%= course.name %>">
  <div class="course-container bg-secondary rounded ratio ratio-16x9 middle-align">
    <div class="h-100 w-100 text-center align-self-center">
      <h5><%= course.name %></h5>
    </div>
  </div>
</a>