<div class="container">
  <h1>Courses</h1>
  <div class="row">
    <% for (let course of courses){ %>
      <div class="col-3">
        <%- include("course-component", {course}) %>
      </div>
      <% } %>
  </div>
</div>