<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Udefin</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <%- body %>

  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>