<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= course.name %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid p-0">
    <div class="row gx-0">
      <div class="col-9">
        <!-- Video container -->
        <div class="ratio ratio-16x9">
          <!-- HTML video -->
          <video id="video" controls autoplay>
            <source id="videoSource" src="" type="video/mp4">
          </video>
          <!-- <div class="video-info">
            <h1 id="videoTitle"></h1>
          </div> -->
        </div>
      </div>
      <div class="col-3">
        <%- include("./partials/accordion", { lessons }) %>
      </div>
    </div>
  </div>

  <script src="/js/coursePage.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>