<!DOCTYPE html>
<html>
  <head>
    <title>Courses</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <form> <!-- Form to submit a put request --> 
      <!-- Floating labeled inputs to change the name of the course -->
    </form>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>