<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course page</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body>
  <% for (let chapter of chapters){ %>
    <h1><%= chapter.name %></h1>
  <% } %>
</body>
</html>