<%- layout('layouts/boilerplate')%>
<div class="container">
  <div class="row" style="margin-bottom: 16px;">
      <div class="col-auto">
          <h1 style="font-weight: bold;">Courses</h1>
      </div>
  </div>
  <div class="row gy-4">
      <% for (let course of courses){ %>
        <%- include('partials/course-component', {course: course}) %>
      <% } %>
  </div>
</div>