<%- layout('layouts/boilerplate')%>
<div class="container">
  <div class="row" style="margin-bottom: 16px;">
      <div class="col-auto">
          <h1 style="font-weight: bold;">Courses</h1>
      </div>
  </div>
  <div class="row gy-4">
      <% for (let course of courses){ %>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
          <div class="card">
              <div class="card-body"><span class="badge bg-primary" style="margin-bottom: 14px;margin-right: 6px;">Web</span>
                  <h5 class="card-title" style="font-weight: bold;"><%= course.name %></h5>
              </div>
              <div class="progress" style="border-top-left-radius: 0;border-top-right-radius: 0;height: 8px;">
                  <div class="progress-bar bg-primary" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
              </div>
          </div>
      </div>
      <% } %>
  </div>
</div>